<mat-grid-list cols="4" rowHeight="2:1" style="background-color: white">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <mat-grid-tile *ngFor="let def of fields" [colspan]="def.size" [ngSwitch]="def.type">
      <!--文本框-->
      <mat-form-field *ngSwitchCase="'text'" appearance="fill">
        <mat-label [id]="def.id">{{def.name}}</mat-label>
        <input matInput #text [id]="def.id" [formControlName]="def.id" [type]="def.type"
               [placeholder]="def.placeholder" [maxLength]="def.scope?.max" autocomplete="off">
        <mat-hint align="end">{{text.value.length}}/{{def.scope?.max}}</mat-hint>
      </mat-form-field>

      <!--下拉框-->
      <mat-form-field *ngSwitchCase="'dropdown'" appearance="fill">
        <mat-label [id]="def.id">{{def.name}}</mat-label>
        <mat-select [id]="def.id">
          <mat-option *ngFor="let option of def.options" [value]="option.value" [disabled]="def.disabled">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--多行文本-->
      <mat-form-field *ngSwitchCase="'textarea'" appearance="fill">
        <mat-label [id]="def.id">{{def.name}}</mat-label>
        <textarea  matInput #textarea [placeholder]="def.placeholder" [maxLength]="def.scope?.max"
                  autocomplete="off"></textarea>
        <mat-hint align="end">{{textarea.value.length}}/{{def.scope?.max}}</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">提交</button>
    </mat-grid-tile>
  </form>
</mat-grid-list>
